<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="FileLoaderConfigurationSection" type="FileMon.Configuration.FileLoaderConfigurationSection, FileMon.Configuration" />
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

      <targets>        
        <target name="file" xsi:type="File" fileName="${basedir}/Logs/${shortdate}/${windows-identity:domain=false}.txt"
         layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />
      </targets>
      <rules>
        <logger name="*" minlevel="Trace" writeTo="file" />
      </rules>
    </nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>  
    <appSettings>
      <add key="DirectoryToMonitor" value="D:\tmp\in"/>
      <add key="DirectoryMonitorFrequencyMs" value="2000"/>      
    </appSettings>
    <FileLoaderConfigurationSection>
      <LoadersPlugins>
        <Plugin filter="*.csv" classname="CSVFileLoader" filename="FileMon.Plugins.dll" />
        <Plugin filter="*.txt" classname="TextFileLoader" filename="FileMon.Plugins.dll" />
        <Plugin filter="*.xml" classname="XMLFileLoader" filename="FileMon.Plugins.dll" />  
      </LoadersPlugins>
    </FileLoaderConfigurationSection>
</configuration>